.verification {
    display: flex;
    gap: 13px;
    width: 100%;
    margin-bottom: 0.88rem;
}

.pushCode {
    flex: 1;
    border-radius: 10px;
    border: none;
    background: #3657CB;
    color: white;
}

.userVerifCode {
    flex: 1;
    font-size: 1.0625rem;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    padding: 1.25rem 1.62rem;
    border: none;
    border-radius: 0.625rem;
    background: #1E2538;
    text-align: center;
}

