body {
    background: #191E2E;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32rem;
    padding: 1rem 0;
    margin: auto;
}

#entryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.titleForm {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    text-align: center;
}

.userInput {
    font-size: 1.0625rem;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    padding: 1.25rem 1.62rem;
    border: none;
    border-radius: 0.625rem;
    background: #1E2538;
    margin-bottom: 0.87rem;
}

.socNetwork {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
}

.netIcon {
    width: 2.5625rem;
    height: 2.5625rem;
    border-radius: 0.625rem;
    background: #1E2538;
    display: flex;
    align-items: center;
    justify-content: center;
}

.netIcon:hover {
    background: #3657CB;
}

.linkRestore {
    color: #3657CB;
    font-size: 1.0625rem;
    font-weight: 500;
    text-decoration-line: underline;
}

.btnEntry {
    color: #151A26;
    background-color: #F2F60F;
    font-size: 1.0625rem;
    font-weight: 600;
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 0.625rem;
    margin-top: 0.25rem;
}

.btnReg {
    color: white;
    font-size: 1.0625rem;
    font-weight: 500;
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 0.625rem;
    background: #1E2538;
    margin-top: 0.88rem;
}

.linkRestore {
    margin-top: 1rem;
}